
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach(var product in ViewData["Products"] as IEnumerable<String>)
{
    <li>@Html.ActionLink(product,"Details", "Products", new { product }, null)</li>
}
